.contenedorNosotros {
    @media only screen and (min-width: 320px) {
        .contenedorNosotros__seccion9PadreItems {
            width: 200px;
            transition: transform 0.5s;
        }
        .contenedorNosotros__seccion9PadreItems:hover {
            transform: scale(1.05);
        }
        .contenedorNosotros__seccion10PadreItems {
            width: 200px;
            transition: transform 0.5s;
        }
        .contenedorNosotros__seccion10PadreItems:hover {
            transform: scale(1.05);
        }
    }
    @media only screen and (min-width: 480px) {
        .contenedorNosotros__seccion9PadreItems {
            width: 300px;
        }
        .contenedorNosotros__seccion10PadreItems {
            width: 300px;
        }
    }
    @media only screen and (min-width: 768px) {
        .contenedorNosotros__seccion9PadreItems {
            width: 280px;
        }
        .contenedorNosotros__seccion10PadreItems {
            width: 280px;
        }
    }
    @media only screen and (min-width: 1024px) {
        .contenedorNosotros__seccion9PadreItems {
            width: 300px;
        }
        .contenedorNosotros__seccion10PadreItems {
            width: 300px;
        }
    }
    .contenedorNosotros__seccion8 {
        background-color: #72a5c6;
        .contenedorNosotros__subtitulo {
            padding: 10px 15px 0px 15px;
        }
        .contenedorNosotros__titulo {
            padding: 0px 0px 5px 10px;
        }
    }
    .contenedorNosotros__seccion9Padre {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
        row-gap: 15px;
        column-gap: 5px;
        padding: 10px 0px;
    }
    .contenedorNosotros__seccion10Padre {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0px;
        column-gap: 5px;
        row-gap: 15px;
    }
    .contenedorNosotros__seccion11 {
        background-color: #72a5c6;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 35px 0px;
        row-gap: 15px;
        .contenedorNosotros__iconos1Padre {
            display: flex;
            flex-flow: column wrap;
            row-gap: 40px;
            margin: 0px 30px;
            .contenedorNosotros__iconos1PadreIconMichiHouse {
                width: 60px;
                height: 60px;
            }
        }
        .contenedorNosotros__parrafo {
            flex-basis: 800px;
            font-size: 20px;
            margin: 0px 10px 0px;
        }
        .contenedorNosotros__iconos2Padre {
            display: flex;
            flex-flow: column wrap;
            row-gap: 15px;
            margin: 0px 30px;
            .contenedorNosotros__iconos2PadreIconMichiHouse {
                width: 60px;
                height: 60px;
            }
        }
    }
}


/*clases excluisvas de nosotros.html*/