/*Declaración de variables*/
$color-preferido: #1d3557;
$color-fondo: #7fbce4;
$color-blanco: #fff;
$color-azure: azure;
$propiedadTransform: 0.5s;
$color-gray: #6d6d6d;
/*Declaración de todos los mixins utilizados a lo largo del código*/
@mixin color-letra {
  color: $color-azure;
}

@mixin color-paleta {
  background-color: $color-preferido;
}

@mixin color-paleta2 {
  background-color: $color-fondo;
}

@mixin degradado {
  background-image: linear-gradient(
    to right,
    $color-blanco,
    $color-preferido,
    $color-blanco
  );
}

@mixin transform($propiedad) {
  transform: $propiedad;
}

@mixin color-paleta3 {
  background-color: #0077b6;
}

@mixin sombreado-cards {
  -webkit-box-shadow: 5px 1px 18px -2px $color-fondo;
  box-shadow: 5px 1px 18px -2px $color-fondo;
}

@mixin sombra-negro {
  -webkit-box-shadow: 8px 6px 12px 0px rgba(50, 50, 48, 0.26);
  -moz-box-shadow: 8px 6px 12px 0px rgba(50, 50, 48, 0.26);
  box-shadow: 8px 6px 12px 0px rgba(50, 50, 48, 0.26);
}

@mixin bgs-used {
  background-color: #72a5c6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*selector de texto*/
::selection {
  color: $color-blanco;
  @include color-paleta;
}

/*header*/

.barraDEnavegacion {
  position: sticky;
  top: 0px;
  z-index: 3;
  @include color-paleta;
}

.barraDeNavegacion_logo {
  padding: 0px 5px 0px 0px;
  max-width: 40px;
}

/*body*/

body {
  background-color: $color-blanco;
}

/*clases exclusivas del index.html*/

.contenedor {
  @media only screen and (min-width: 320px) {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 33px;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
    grid-template-areas: "section1" "miratmb" "gato1 " "gato2 " "gato3 " "gato4 " "btnvermas";
    &.contenedor__section1 {
      grid-area: section1;
    }
    .contenedor__frase {
      grid-area: miratmb;
      .contenedor__inspiradora {
        font-size: 30px;
        text-align: center;
        font-style: italic;
        font-weight: 600;
        margin: 15px 0px 25px;
      }
      .contenedor_hr {
        height: 4px;
        opacity: 100;
        @include degradado;
      }
    }
    .contenedor__gato1 {
      grid-area: gato1;
      transition: transform $propiedadTransform;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      .contenedor__imgsiamesa {
        width: 100%;
        border-radius: 20px 20px 0 0;
        transition: transform 0.5s;
        &:hover {
          @include transform(scale(0.98));
        }
      }
      &:hover {
        @include transform(scale(1.05));
      }
    }
    .contenedor__gato2 {
      grid-area: gato2;
      transition: transform $propiedadTransform;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      .contenedor__imgAzulruso {
        width: 100%;
        border-radius: 20px 20px 0 0;
        transition: transform $propiedadTransform;
        &:hover {
          @include transform(scale(0.98));
        }
      }
      &:hover {
        @include transform(scale(1.05));
      }
    }
    .contenedor__gato3 {
      grid-area: gato3;
      transition: transform $propiedadTransform;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      .contenedor__imgGatoBombay {
        transition: transform $propiedadTransform;
        width: 100%;
        border-radius: 20px 20px 0 0;
        &:hover {
          @include transform(scale(0.98));
        }
      }
      &:hover {
        @include transform(scale(1.05));
      }
    }
    .contenedor__gato4 {
      grid-area: gato4;
      transition: transform $propiedadTransform;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      .contenedor__imgEuropeo {
        transition: transform $propiedadTransform;
        width: 100%;
        border-radius: 20px 20px 0 0;
        &:hover {
          @include transform(scale(0.98));
        }
      }
      &:hover {
        @include transform(scale(1.05));
      }
    }
    .contenedor__btnvermas {
      grid-area: btnvermas;
      .btnvermasEstilos--margenes {
        display: block;
        margin: 0px auto 33px;
      }
    }
  }
  @media only screen and (min-width: 480px) {
    grid-template-columns: 1fr;
    row-gap: 33px;
    grid-template-areas: "section1" "miratmb" "gato1" "gato2" "gato3" "gato4" "btnvermas";
    .contenedor__section1 {
      grid-area: section1;
    }
    .contenedor__frase {
      grid-area: miratmb;
    }
    .contenedor__gato1 {
      grid-area: gato1;
      @include color-paleta2;
    }
    .contenedor__gato2 {
      grid-area: gato2;
      @include color-paleta2;
    }
    .contenedor__gato3 {
      grid-area: gato3;
      @include color-paleta2;
    }
    .contenedor__gato4 {
      grid-area: gato4;
      @include color-paleta2;
    }
    .contenedor__btnvermas {
      grid-area: btnvermas;
    }
  }
  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 33px;
    grid-template-areas: "section1 section1" "miratmb miratmb" "gato1  gato2" "gato3 gato4" "btnvermas btnvermas";
    .contenedor__section1 {
      grid-area: section1;
    }
    .contenedor__gato1 {
      grid-area: gato1;
    }
    .contenedor__gato2 {
      grid-area: gato2;
    }
    .contenedor__gato3 {
      grid-area: gato3;
    }
    .contenedor__gato4 {
      grid-area: gato4;
    }
    .contenedor__btnvermas {
      grid-area: btnvermas;
    }
  }
  @media only screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    grid-template-areas: "section1 section1 section1 section1" "miratmb miratmb miratmb miratmb" "gato1 gato2 gato3 gato4" "btnvermas btnvermas btnvermas btnvermas";
    .contenedor__section1 {
      grid-area: section1;
    }
    .contenedor__frase {
      grid-area: miratmb;
    }
    .contenedor__gato1 {
      grid-area: gato1;
    }
    .contenedor__gato2 {
      grid-area: gato2;
    }
    .contenedor__gato3 {
      grid-area: gato3;
    }
    .contenedor__gato4 {
      grid-area: gato4;
    }
    .contenedor__btnvermas {
      grid-area: btnvermas;
      .contenedor__btnvermas {
        margin-bottom: 15px;
      }
    }
  }
  .contenedor__nombreDEgatos1234 {
    font-weight: bold;
    margin: 10px 0px 8px 15px;
  }
  .contenedor__estilosListas {
    line-height: 28px;
    font-size: 17px;
  }
  .contenedorBtnAdoptar {
    display: flex;
    margin: 0px auto 12px;
  }
  .estilosGatos1234 {
    @include color-paleta2;
    margin: 0px 15px 0px 15px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 1px 18px -2px $color-fondo;
    box-shadow: 5px 1px 18px -2px $color-fondo;
  }
  .contenedor__CarouselParrafo {
    background-color: rgba(180, 179, 179, 0.479);
  }
}

.btnAdoptar {
  border: 5px solid lightgray;
  padding: 2px 4px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  transition: transform $propiedadTransform;
  display: flex;
  &:hover {
    @include transform(scale(1.1));
  }
}

.btnvermasEstilos {
  border: 5px solid lightgray;
  border-radius: 10px;
  width: 110px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  transition: transform $propiedadTransform;
  &:hover {
    @include transform(scale(1.1));
  }
}

/*footer*/

.footer {
  @include color-paleta;
  .footer__padreDiv1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .footer__padreLogoYNombre {
      padding: 25px 4px;
      .footer__hijologo {
        width: 40px;
        margin: -11px 0px 0px 0px;
      }
      .footer__enlace {
        margin: 5px 10px;
        text-decoration: none;
        .footer__hijoNombre {
          display: inline;
          @include color-letra;
        }
      }
    }
    .footer__promocionEnRedesSociales {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      height: 100px;
      align-items: center;
      .footer__mensaje1 {
        @include color-letra;
        padding: 0px 20px 0px;
      }
      .footer__padreRedes1 {
        .footer__enlaceFooter {
          margin: 5px 10px;
          text-decoration: none;
          .footer__hijoLogosRedes1 {
            display: inline;
            margin-top: 1%;
            width: 20px;
          }
          .footer__hijosNombresRedes {
            display: inline;
            @include color-letra;
          }
          .footer__hijosNombresRedes:hover {
            color: rgb(210, 221, 221);
          }
        }
        .footer__ConEnlace {
          margin: 5px 10px;
          text-decoration: none;
          .footer__hijoRedes1 {
            display: inline;
            margin-top: 1%;
            width: 20px;
          }
          .footer__hijosNombresEnLasRedes {
            display: inline;
            @include color-letra;
          }
          .footer__hijosNombresEnLasRedes:hover {
            color: rgb(210, 221, 221);
          }
        }
      }
    }
  }
  .footer__hr {
    background-color: cadetblue;
    height: 1px;
    margin: 0px auto;
    opacity: 20%;
  }
  .footer__padreDiv2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: fit-content;
    margin: 10px 0px 0px 0px;
    .footer__itemsEnlaces {
      @include color-letra;
      margin: 0px 10px;
      text-decoration: none;
    }
    .footer__itemsEnlaces:hover {
      color: rgb(197, 204, 204);
    }
    .footer_derechosDeAutor {
      @include color-letra;
      margin: 0px 2% 0px 0px;
    }
  }
}

@import "Gatos3";
@import "especiales";
@import "nosotros";
@import "formulario";
@import "404error";
